


<table class="table table-hover">
	<thead>
		<tr>
			<td>Naziv kupca</td>
			<td>Adresa kupca </td>
			<td>pib kupca </td>
			<td>Naziv dobavljaca </td>
			<td>Adresa dobavljaca </td>
			<td>pib dobavljaca</td>
			<td>Datum Fakture</td>
			<td>Broj Racuna</td>
			<td>Vrednost Robe</td>
			<td>Vrednost Usluge</td>
			<td>Oznaka Valute</td>
			<td>Ukupan Porez</td>
			<td>Ukupan Rabat</td>
			<td>Ukupno</td>
			<td>Status </td>
			<td>Plati/Posalji</td>
			<td> </td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in fakture"> 
			<td>{{x.nazivKupca}}</td>
			<td>{{x.adresaKupca}}</td>
			<td>{{x.pibKupca}}</td>
			<td>{{x.nazivDobavljaca}}</td>
			<td>{{x.adresaDobavljaca}}</td>
			<td>{{x.pibDobavljaca}}</td>
			<td>{{x.datumRacuna}}</td>
			<td>{{x.brojRacuna}}</td>
			<td>{{x.vrednostRobe}}</td>
			<td>{{x.vrednostUsluge}}</td>
			<td>{{x.oznakaValute}}</td>
			<td>{{x.ukupanPorez}}</td>
			<td>{{x.ukupanRabat}}</td>
			<td>{{x.ukupnoRobaIUsluge}}</td>
			<td>{{x.status}}</td>
			<td><button ng-if="x.status=='PRIMLJENO'" type="button" class="btn btn-info" data-ng-click="platiFakturu(x.idPoruke)">
					<span class="glyphicon glyphicon-euro"></span>
				</button> </td>
				
				
		</tr>
	</tbody>
</table>





<button id="isplata" type="button" class="btn btn-info" data-toggle="modal" data-target="#isplataModal" style="display: none;">Plati</button>

<div id="isplataModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Isplata</h4>
			</div>
			<div class="modal-body">
				
			
			<div>
				<label>Svrha Placanja:</label>
				<input type="text" data-ng-model="nalog.svrhaPlacanja" > <br>
				<label>Model zaduzenja:</label>
				<input type="number" ng-model="nalog.modelZaduzenja"> <br>
				<label>Poziv na broj zaduzenja:</label>
				<input type="number" ng-model="nalog.pozivNaBrojZaduzenja"><br>
				<label>Model odobrenja:</label>
				<input type="number" ng-model="nalog.modelOdobrenja"> <br>
				<label>Poziv na broj odobrenja:</label>
				<input type="number" ng-model="nalog.pozivNaBrojOdobrenja"><br>
				<label>Racun duznika:</label>
				<input type="number" ng-model="nalog.racunDuznika"><br>
				<label>Hitno</label>
				<input type="checkbox" ng-model="nalog.hitno" id="hitno">
			</div>
				
			</div>
			<div class="modal-footer">
				<button data-ng-click="isplata()" class="btn btn-primary">Isplata</button>
				<input type="button" class="btn btn-primary"  value="Otkazi" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>